body{
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero{
    background-image: url(imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border: 0.1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    font-size: 46px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #333;
}

.hero-content p{
    background-color: rgba(0, 0, 0, .8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

.hero nav li{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    border: 1px solid white;
}

.hero nav ul{
    text-align: right;
    margin: 30px 25px 0 0;
}

.hero nav li a{
    background: rgba(0, 0, 0, 0.229);
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;

}

.hero nav li a:hover{
    background: rgba(0, 0, 0, 0.4);
}

main{
    width: 80%;
    margin: auto;
}

.section-content{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    float: left;
    text-align: center;
    width: 32%;

}

.card img{
    width: 100%;
    display: block;
}

.card p{
    background-color: rgba(0, 0, 0, 0.611);
    margin: 0;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-1, .card-2{
    margin-right: 2%;
}

footer{
    background: #333;
    text-align: center;
    height: 60px;
    line-height: 60px;
    text-shadow: 2px 2px 2px black;
}

footer p{
    display: block;
    color: white;
}